@charset "UTF-8";

.container {
	position: relative;
	width: 80%;
	margin: 8rem auto auto auto;
}

.wrapper {
	width: 600px;
	border: 1.5px solid #ddd;
	margin: auto;
	padding: 25px 30px;
	font-family: Arial, sans-serif;
	box-sizing: border-box;
}

section .title {
	font-size: 18px;
	text-transform: capitalize;
}

.wrapper h1 {
	text-align: center;
}

.container .group {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}


.group .item {
	background-color: #e9e9e9;
	padding: 15px 20px;
	margin-bottom: 15px;
	cursor: pointer;
	border-radius: 10px;
}

.group .item:hover {
	background-color: #ddd;
	transition: background-color .8s;
}

.group .item:hover a {
	text-decoration: underline;
}

.item a {
	font-size: 18px;
	font-weight: 500;
	text-decoration: none;
	text-transform: capitalize;
}